* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
    display: none;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
    padding: 4%;
}

.block {
    color: orange;
    font-size: 15px;
    font-style: italic;
    padding: 10%
}

.ital {
    font-style: italic;
}

.tar {
    text-align: right;
}

.tac {
    text-align: center;
    font-size: 20px;
}

.decor {
    text-decoration: underline;
}

.empty {
    text-shadow: 1px 2px 2px #f0f000;
}

.lspace {
    letter-spacing: 5px;
}

.wspace {
    word-spacing: 5px;
}

.lineheight {
    line-height: 20px;
}

p {
    padding: 12px;
}

h2 {
    font-size: 24px;
}

.info {
    color: green;
    text-shadow: 1px 2px 2px #f0f000;
    background-color: #87cefa;
    height: 100%;
    padding: 10px;
}

.info > h2 {
    top: 10px;
}

.float {
    width: 100%;
    float: right;
}

.float > p > img {
    float: left;
    height: 250px;
    top: 0;
    margin-right: 10px;
}